.create-input:focus,
.create-ta:focus {
    outline: none;
    border-color: #465d8b;
    box-shadow: inset 0 1px 1px #465d8b, 0 0 2px 1px #465d8b;
}

.create-input,
.create-ta {
    width: 80%;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    background: #efeeee
}

.create-h {
    color: #9d9d9d;
    margin: 5px;
}

button {
    margin: 5px
}

.edit-card {
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: 10%;
    width: 70%;
}

.close-modal {
    color: #605f5f;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.error-msg{
    text-align: center;
    color: rgb(183, 0, 0);
    margin-bottom: 10px;
}