.chat-container {
    margin-left: 130px;
    padding-top: 80px;
    color: aliceblue;
    display: flex;
    flex-wrap: nowrap;
    height: 100px;
}

.chat-container ul li{
    margin-bottom: 10px;
}

.chat-container hr {
    border-right: 2px solid #534a4a;
    height: 85vh;
}

.chat {
    flex-basis: 73%;
}

.chat-history {
    flex-basis: 25%;
}

.chat-filter-input {
    width: 290px;
    padding: 7px;
    border-radius: 5px;
    background: #efeeee;
}

.chat-filter-input:focus .chat-input:focus {
    outline: none;
    border-color: #465d8b;
    box-shadow: inset 0 1px 1px #465d8b, 0 0 2px 1px #465d8b;
}

.online-fr-img {
    height: 70px;
    margin-right: 20px;
}

.chat-history ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    margin-right: 10px;
    overflow-y: auto;
    height: 580px;
}

.chat-history ul li div {
    flex-basis: 60%;
}

.chat-history ul li:hover {
    cursor: pointer;
    border-radius: 10px;
    padding-left: 5px;
    background-color: #4d4d4d;
    transition: 0.4s;
}

.notification {
    background-color: rgb(172, 22, 22);
    height: 13px;
    width: 13px;
    border-radius: 50%;
    align-self: center;
}

.last-message{
    color: #888 !important;
}

.chat-selected {
    border-radius: 10px;
    background-color: #4d4d4d;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chat-form {
    margin-left: 25px;
}

.chatter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chat-input {
    bottom: 18px;
    padding: 7px;
    border-radius: 5px;
    background: #efeeee;
    width: 100%;
}

.chat-messages {
    overflow-y: auto;
    flex-basis: 80vh;
    margin-bottom: 20px;
}

.chat-button {
    text-align: center;
}

.chat-messages button {
    width: 20%;
    margin: auto;
}

.chat-messages ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-top: 20px;
}

.message-mine span {
    background: #1359e5;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    float: right;
    margin-right: 30px;
    max-width: 40%;
}

.message-friend span {
    background: #5b5d61;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    float: left;
    max-width: 40%;
}