.comment-card {
    margin-bottom: 20px;
    width: 85%;
    padding: 10px;
    background: #353a3e;
    border-radius: 10px;
}

.comment-card p {
    line-height: 30%;
}

.card-user-comment-img {
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.comment{
    display: flex;
    margin-left: 10px;
}

.comment-username {
    font-weight: bold;
    letter-spacing: 1px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}