.home-card {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: 10%;
    width: 70%;
}

.card-container {
    margin-top: 100px;
    flex: 0 0 77rem;
}

.onl-fr-sc{
    width: 20%;
}

.load-more {
    position:relative;
    left:50%;
}
