.side-menu {
    position: fixed;
    height: 100%;
    padding: 30px 10px 0 0;
    margin-top: 60px;
    border-right: 1px solid #3b3b3b;
}

.nav-link {
    letter-spacing: 1px;
}

.icon {
    margin: 10px 20px 10px 0;
    font-size: 1.8em;
    color: #1b5f84;
}

.icon:hover {
    transition: 0.2s;
    color: #0189b8;
}

.btn {
    margin-right: 10px;
}

hr {
    color: #808080;
}

.side-menu ul{
    list-style-type: none;
}