.home-card {
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: 10%;
    width: 70%;
}

.post-body{
    min-width: 76rem;
}

.home-card-link {
    text-decoration: none;
}

.card-body-span {
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
}

.comment-section{
    overflow-y: auto;
    height: 420px;
}